# PHM Article Reproduction

### The main objective is to develop a model based on first two years of dataset (training) and determine the high risk and low risk times of failures for each individual asset for the 3rd year

Training data shows many maintenance activities with 14 different codes. The principle difficulty is to detect the
Preventive Maintenance (PM) in the training data.

3 main steps:

- Recognize Predictive Maintenance pattern based on time and type of maintenance activity via the training data
- Determine the high-risk time intervals based on Predictive Maintenance time by checking the frequency of the failures at specific times between each PM
- Predict the high-risk time intervals in the testing data using the information acquired from the training data (1st and 2nd years)

### Library imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Data Loading

In [2]:
consumption = pd.read_csv("../data/Train - Part Consumption.csv")

consumption.head()

     Asset  Time Reason     Part  Quantity
0  A311482     0   R417  P361646       1.0
1  A174613     0   R707  P991287       1.0
2  A174613     0   R707  P169319       1.0
3  A060723     0   R193  P184448       0.0
4  A174613     0   R707  P097048       1.0

In [3]:
usage = pd.read_csv("../data/Train - Usage.csv")
usage.head()

     Asset  Time           Use
0  A403193     5  31194.652034
1  A403193    17  31223.536355
2  A403193    56  31362.706261
3  A403193   124  31701.440562
4  A403193   144  31724.489666

In [4]:
failures = pd.read_csv("../data/Train - Failures.csv")
failures.head()

     Asset  Time
0  A403193   137
1  A403193   146
2  A403193   155
3  A403193   229
4  A403193   420

In [5]:
indexes = consumption.query("Quantity <= 0").index
consumption.drop(indexes, inplace=True)
consumption.reset_index(drop=True, inplace=True)
consumption.head()

     Asset  Time Reason     Part  Quantity
0  A311482     0   R417  P361646       1.0
1  A174613     0   R707  P991287       1.0
2  A174613     0   R707  P169319       1.0
3  A174613     0   R707  P097048       1.0
4  A174613     0   R707  P169319       1.0

## Plots and figures reproduction

In [6]:
consumption.query("Time <= 729")

          Asset  Time Reason     Part  Quantity
0       A311482     0   R417  P361646       1.0
1       A174613     0   R707  P991287       1.0
2       A174613     0   R707  P169319       1.0
3       A174613     0   R707  P097048       1.0
4       A174613     0   R707  P169319       1.0
...         ...   ...    ...      ...       ...
265676  A671025   729   R707  P365405       1.0
265677  A545243   729   R565  P349920       1.0
265678  A406665   729   R193  P945270       1.0
265679  A933901   729   R193  P749841       1.0
265680  A552005   729   R707  P079223       1.0

[265681 rows x 5 columns]