# PHM Data Challenge 2014

In [1]:
%matplotlib notebook

## Data Loading

In [2]:
import pandas as pd

In [3]:
consumption = pd.read_csv("../data/Train - Part Consumption.csv")

consumption.head()

     Asset  Time Reason     Part  Quantity
0  A311482     0   R417  P361646       1.0
1  A174613     0   R707  P991287       1.0
2  A174613     0   R707  P169319       1.0
3  A060723     0   R193  P184448       0.0
4  A174613     0   R707  P097048       1.0

In [4]:
usage = pd.read_csv("../data/Train - Usage.csv")
usage.head()

     Asset  Time           Use
0  A403193     5  31194.652034
1  A403193    17  31223.536355
2  A403193    56  31362.706261
3  A403193   124  31701.440562
4  A403193   144  31724.489666

In [5]:
failures = pd.read_csv("../data/Train - Failures.csv")
failures.head()

     Asset  Time
0  A403193   137
1  A403193   146
2  A403193   155
3  A403193   229
4  A403193   420

## Data Analysis

In [6]:
consumption.describe()

                Time       Quantity
count  270830.000000  270830.000000
mean      378.872691       3.565059
std       212.522371      20.420610
min         0.000000     -15.000000
25%       195.000000       1.000000
50%       388.000000       1.000000
75%       567.000000       2.000000
max       730.000000    3000.000000

In [7]:
usage.describe()

               Time            Use
count  22828.000000   22828.000000
mean     374.998730   30273.978469
std      211.670945    2528.890997
min        0.000000   25740.475447
25%      194.000000   28471.064870
50%      377.000000   30516.599911
75%      562.000000   31878.612314
max      730.000000  187239.128532

In [8]:
failures.describe()

              Time
count  9199.000000
mean    379.170345
std     210.243071
min       0.000000
25%     199.000000
50%     389.000000
75%     563.000000
max     730.000000

In [9]:
from collections import Counter

In [10]:
c = Counter(consumption.Reason)
reason_count = c.most_common()
reason_count

[('R707', 136714),
 ('R565', 58284),
 ('R193', 39668),
 ('R417', 12960),
 ('R446', 11090),
 ('R364', 7056),
 ('R119', 2143),
 ('R783', 1858),
 ('R044', 393),
 ('R606', 349),
 ('R575', 262),
 ('R064', 42),
 ('R396', 10),
 ('R782', 1)]

In [11]:
c = Counter(failures.Asset)
failures_count = c.most_common()
failures_count

[('A624962', 19),
 ('A344737', 19),
 ('A546754', 17),
 ('A396638', 17),
 ('A613089', 17),
 ('A196573', 17),
 ('A288494', 16),
 ('A122955', 16),
 ('A130356', 16),
 ('A968343', 16),
 ('A838297', 16),
 ('A073164', 16),
 ('A067512', 16),
 ('A824908', 15),
 ('A748065', 15),
 ('A354676', 15),
 ('A599433', 15),
 ('A689043', 15),
 ('A278781', 15),
 ('A943170', 14),
 ('A181324', 14),
 ('A175822', 14),
 ('A203444', 14),
 ('A402608', 14),
 ('A744243', 14),
 ('A317141', 14),
 ('A446813', 14),
 ('A592525', 14),
 ('A547881', 14),
 ('A550035', 14),
 ('A024432', 14),
 ('A621532', 14),
 ('A531932', 13),
 ('A399220', 13),
 ('A367237', 13),
 ('A333832', 13),
 ('A499073', 13),
 ('A926119', 13),
 ('A283388', 13),
 ('A250298', 13),
 ('A152340', 13),
 ('A733174', 13),
 ('A496983', 13),
 ('A616364', 13),
 ('A429540', 13),
 ('A519059', 13),
 ('A355669', 13),
 ('A558858', 12),
 ('A920271', 12),
 ('A439865', 12),
 ('A457170', 12),
 ('A010961', 12),
 ('A989821', 12),
 ('A423193', 12),
 ('A210011', 12),
 ('A481735', 12),
 ('A036259', 12),
 ('A199240', 12),
 ('A838012', 12),
 ('A018230', 12),
 ('A047287', 12),
 ('A500920', 12),
 ('A254454', 12),
 ('A406665', 12),
 ('A987757', 12),
 ('A949101', 12),
 ('A804715', 12),
 ('A463398', 12),
 ('A344531', 12),
 ('A086795', 12),
 ('A929756', 12),
 ('A957539', 12),
 ('A422219', 12),
 ('A413650', 12),
 ('A724249', 12),
 ('A569664', 12),
 ('A942608', 12),
 ('A537042', 12),
 ('A917296', 12),
 ('A972258', 12),
 ('A455715', 11),
 ('A458713', 11),
 ('A860046', 11),
 ('A906763', 11),
 ('A586613', 11),
 ('A181493', 11),
 ('A945796', 11),
 ('A962011', 11),
 ('A635537', 11),
 ('A562941', 11),
 ('A799272', 11),
 ('A327882', 11),
 ('A607690', 11),
 ('A569012', 11),
 ('A440010', 11),
 ('A099178', 11),
 ('A608867', 11),
 ('A149945', 11),
 ('A636839', 11),
 ('A507289', 11),
 ('A437714', 11),
 ('A637738', 11),
 ('A302502', 11),
 ('A089124', 11),
 ('A932794', 11),
 ('A722414', 11),
 ('A832062', 11),
 ('A219807', 11),
 ('A244454', 11),
 ('A449958', 11),
 ('A821036', 11),
 ('A654091', 11),
 ('A754346', 11),
 ('A655297', 11),
 ('A811788', 11),
 ('A438982', 11),
 ('A549492', 11),
 ('A548095', 11),
 ('A568725', 11),
 ('A882703', 11),
 ('A780091', 11),
 ('A079081', 11),
 ('A781750', 11),
 ('A049130', 11),
 ('A737807', 10),
 ('A232620', 10),
 ('A265011', 10),
 ('A923493', 10),
 ('A983465', 10),
 ('A002941', 10),
 ('A611127', 10),
 ('A494734', 10),
 ('A979167', 10),
 ('A259114', 10),
 ('A968300', 10),
 ('A141075', 10),
 ('A614574', 10),
 ('A710135', 10),
 ('A559039', 10),
 ('A068651', 10),
 ('A918364', 10),
 ('A944917', 10),
 ('A392910', 10),
 ('A754619', 10),
 ('A321035', 10),
 ('A887804', 10),
 ('A283900', 10),
 ('A584635', 10),
 ('A262568', 10),
 ('A214720', 10),
 ('A599676', 10),
 ('A634406', 10),
 ('A426175', 10),
 ('A134154', 10),
 ('A700425', 10),
 ('A986527', 10),
 ('A369128', 10),
 ('A317789', 10),
 ('A061678', 10),
 ('A683669', 10),
 ('A385504', 10),
 ('A510287', 10),
 ('A967396', 10),
 ('A138687', 10),
 ('A413766', 10),
 ('A360661', 10),
 ('A834058', 10),
 ('A072891', 10),
 ('A207303', 10),
 ('A476410', 10),
 ('A899190', 10),
 ('A799993', 10),
 ('A848224', 10),
 ('A791902', 10),
 ('A248859', 10),
 ('A276025', 10),
 ('A138987', 10),
 ('A275002', 10),
 ('A011599', 10),
 ('A467856', 10),
 ('A220133', 10),
 ('A626665', 10),
 ('A379393', 10),
 ('A771171', 10),
 ('A431870', 10),
 ('A621592', 10),
 ('A704888', 9),
 ('A866898', 9),
 ('A087012', 9),
 ('A658977', 9),
 ('A966262', 9),
 ('A000204', 9),
 ('A998987', 9),
 ('A521146', 9),
 ('A955584', 9),
 ('A272649', 9),
 ('A869829', 9),
 ('A877203', 9),
 ('A339882', 9),
 ('A077065', 9),
 ('A328723', 9),
 ('A207920', 9),
 ('A614261', 9),
 ('A030353', 9),
 ('A102262', 9),
 ('A245979', 9),
 ('A790640', 9),
 ('A757472', 9),
 ('A860227', 9),
 ('A244978', 9),
 ('A116088', 9),
 ('A374129', 9),
 ('A593617', 9),
 ('A410050', 9),
 ('A982101', 9),
 ('A935231', 9),
 ('A259604', 9),
 ('A470466', 9),
 ('A045022', 9),
 ('A096235', 9),
 ('A962735', 9),
 ('A916566', 9),
 ('A749955', 9),
 ('A464806', 9),
 ('A210755', 9),
 ('A200310', 9),
 ('A757331', 9),
 ('A103868', 9),
 ('A286874', 9),
 ('A338868', 9),
 ('A141880', 9),
 ('A553196', 9),
 ('A522012', 9),
 ('A497012', 9),
 ('A415226', 9),
 ('A302835', 9),
 ('A519523', 9),
 ('A926767', 9),
 ('A028051', 9),
 ('A746345', 9),
 ('A851278', 9),
 ('A751045', 9),
 ('A611210', 9),
 ('A161986', 9),
 ('A015811', 9),
 ('A775699', 9),
 ('A550145', 9),
 ('A994440', 9),
 ('A763658', 9),
 ('A036314', 9),
 ('A329860', 9),
 ('A641191', 9),
 ('A124878', 8),
 ('A105614', 8),
 ('A373145', 8),
 ('A712075', 8),
 ('A356393', 8),
 ('A166185', 8),
 ('A657758', 8),
 ('A888026', 8),
 ('A057233', 8),
 ('A432811', 8),
 ('A274757', 8),
 ('A776990', 8),
 ('A087766', 8),
 ('A129740', 8),
 ('A821793', 8),
 ('A460378', 8),
 ('A643006', 8),
 ('A527291', 8),
 ('A821528', 8),
 ('A938154', 8),
 ('A220378', 8),
 ('A914056', 8),
 ('A884383', 8),
 ('A106966', 8),
 ('A326741', 8),
 ('A303019', 8),
 ('A770389', 8),
 ('A707786', 8),
 ('A350977', 8),
 ('A353394', 8),
 ('A440417', 8),
 ('A689377', 8),
 ('A480060', 8),
 ('A095311', 8),
 ('A510752', 8),
 ('A230865', 8),
 ('A528472', 8),
 ('A091673', 8),
 ('A738098', 8),
 ('A010028', 8),
 ('A829900', 8),
 ('A530302', 8),
 ('A368859', 8),
 ('A297819', 8),
 ('A046201', 8),
 ('A803190', 8),
 ('A101851', 8),
 ('A479849', 8),
 ('A848672', 8),
 ('A867946', 8),
 ('A543476', 8),
 ('A144126', 8),
 ('A064848', 8),
 ('A335909', 8),
 ('A251480', 8),
 ('A100046', 8),
 ('A072112', 8),
 ('A120931', 8),
 ('A573376', 8),
 ('A897425', 8),
 ('A535439', 8),
 ('A040716', 8),
 ('A763721', 8),
 ('A304384', 8),
 ('A684542', 8),
 ('A579152', 8),
 ('A795256', 8),
 ('A288356', 8),
 ('A643968', 8),
 ('A211225', 8),
 ('A473072', 8),
 ('A818076', 8),
 ('A410324', 8),
 ('A603413', 8),
 ('A602194', 8),
 ('A931417', 8),
 ('A888632', 8),
 ('A873077', 8),
 ('A990953', 8),
 ('A337108', 8),
 ('A082830', 8),
 ('A209660', 8),
 ('A597289', 8),
 ('A861661', 8),
 ('A908368', 8),
 ('A514621', 8),
 ('A851330', 8),
 ('A142383', 8),
 ('A743555', 8),
 ('A407826', 8),
 ('A885351', 8),
 ('A670866', 8),
 ('A346606', 8),
 ('A802131', 8),
 ('A639721', 8),
 ('A289678', 8),
 ('A801244', 8),
 ('A699419', 8),
 ('A867134', 8),
 ('A579235', 8),
 ('A980546', 8),
 ('A029338', 8),
 ('A197541', 8),
 ('A564759', 8),
 ('A271586', 8),
 ('A348428', 8),
 ('A655370', 8),
 ('A448078', 8),
 ('A078300', 8),
 ('A942980', 8),
 ('A403193', 7),
 ('A764985', 7),
 ('A305613', 7),
 ('A112094', 7),
 ('A991622', 7),
 ('A552524', 7),
 ('A811559', 7),
 ('A630854', 7),
 ('A334446', 7),
 ('A683140', 7),
 ('A835644', 7),
 ('A808886', 7),
 ('A498439', 7),
 ('A086682', 7),
 ('A287946', 7),
 ('A251284', 7),
 ('A467654', 7),
 ('A482020', 7),
 ('A124448', 7),
 ('A180844', 7),
 ('A060373', 7),
 ('A029424', 7),
 ('A780171', 7),
 ('A809797', 7),
 ('A364556', 7),
 ('A398801', 7),
 ('A943615', 7),
 ('A339540', 7),
 ('A024929', 7),
 ('A317170', 7),
 ('A340560', 7),
 ('A473991', 7),
 ('A967386', 7),
 ('A025347', 7),
 ('A510740', 7),
 ('A987249', 7),
 ('A596663', 7),
 ('A444280', 7),
 ('A448898', 7),
 ('A547667', 7),
 ('A887099', 7),
 ('A465453', 7),
 ('A250431', 7),
 ('A772140', 7),
 ('A806933', 7),
 ('A312846', 7),
 ('A384128', 7),
 ('A120119', 7),
 ('A120371', 7),
 ('A168772', 7),
 ('A178777', 7),
 ('A958605', 7),
 ('A701422', 7),
 ('A401203', 7),
 ('A399520', 7),
 ('A319257', 7),
 ('A991647', 7),
 ('A945761', 7),
 ('A933901', 7),
 ('A551995', 7),
 ('A673112', 7),
 ('A736896', 7),
 ('A763677', 7),
 ('A945994', 7),
 ('A878971', 7),
 ('A036777', 7),
 ('A003641', 7),
 ('A275304', 7),
 ('A295488', 7),
 ('A682501', 7),
 ('A519501', 7),
 ('A085068', 7),
 ('A901442', 7),
 ('A870438', 7),
 ('A347670', 7),
 ('A538561', 7),
 ('A766486', 7),
 ('A598796', 7),
 ('A895328', 7),
 ('A933202', 7),
 ('A332252', 7),
 ('A115560', 7),
 ('A439420', 7),
 ('A943796', 7),
 ('A251038', 7),
 ('A675572', 7),
 ('A252155', 7),
 ('A347469', 7),
 ('A868807', 7),
 ('A801976', 7),
 ('A904238', 7),
 ('A856385', 7),
 ('A600609', 7),
 ('A575446', 7),
 ('A368918', 7),
 ('A261160', 7),
 ('A463508', 7),
 ('A097181', 7),
 ('A314100', 7),
 ('A523335', 7),
 ('A800475', 7),
 ('A879428', 7),
 ('A137934', 7),
 ('A671692', 7),
 ('A822538', 7),
 ('A672291', 7),
 ('A443953', 7),
 ('A046944', 7),
 ('A842875', 7),
 ('A338489', 7),
 ('A496165', 7),
 ('A678097', 7),
 ('A603109', 7),
 ('A713508', 7),
 ('A705879', 7),
 ('A370904', 7),
 ('A651889', 7),
 ('A217825', 7),
 ('A277974', 7),
 ('A006032', 7),
 ('A032565', 7),
 ('A125977', 7),
 ('A947454', 7),
 ('A847084', 7),
 ('A226110', 7),
 ('A283801', 7),
 ('A132943', 7),
 ('A144757', 7),
 ('A604519', 7),
 ('A095382', 7),
 ('A587998', 7),
 ('A562842', 7),
 ('A317320', 7),
 ('A180615', 6),
 ('A678003', 6),
 ('A421652', 6),
 ('A125623', 6),
 ('A654809', 6),
 ('A097170', 6),
 ('A301854', 6),
 ('A697472', 6),
 ('A752282', 6),
 ('A291959', 6),
 ('A891841', 6),
 ('A421448', 6),
 ('A121855', 6),
 ('A805199', 6),
 ('A401611', 6),
 ('A785923', 6),
 ('A062417', 6),
 ('A692301', 6),
 ('A669815', 6),
 ('A085059', 6),
 ('A181995', 6),
 ('A621127', 6),
 ('A804789', 6),
 ('A980387', 6),
 ('A503676', 6),
 ('A254485', 6),
 ('A434338', 6),
 ('A877007', 6),
 ('A886918', 6),
 ('A010045', 6),
 ('A517649', 6),
 ('A664052', 6),
 ('A688197', 6),
 ('A863424', 6),
 ('A393720', 6),
 ('A321665', 6),
 ('A528828', 6),
 ('A586375', 6),
 ('A162255', 6),
 ('A863036', 6),
 ('A661308', 6),
 ('A945686', 6),
 ('A427987', 6),
 ('A568411', 6),
 ('A068680', 6),
 ('A530349', 6),
 ('A963266', 6),
 ('A468145', 6),
 ('A520535', 6),
 ('A705508', 6),
 ('A778758', 6),
 ('A259772', 6),
 ('A689996', 6),
 ('A146101', 6),
 ('A590332', 6),
 ('A032733', 6),
 ('A217137', 6),
 ('A014075', 6),
 ('A521304', 6),
 ('A000463', 6),
 ('A687723', 6),
 ('A055991', 6),
 ('A167193', 6),
 ('A594935', 6),
 ('A288752', 6),
 ('A471051', 6),
 ('A213729', 6),
 ('A855271', 6),
 ('A782730', 6),
 ('A941683', 6),
 ('A291427', 6),
 ('A231536', 6),
 ('A201805', 6),
 ('A756556', 6),
 ('A526512', 6),
 ('A100541', 6),
 ('A709472', 6),
 ('A174857', 6),
 ('A079018', 6),
 ('A399645', 6),
 ('A485569', 6),
 ('A163393', 6),
 ('A841288', 6),
 ('A405243', 6),
 ('A818928', 6),
 ('A945438', 6),
 ('A497432', 6),
 ('A136104', 6),
 ('A315375', 6),
 ('A758526', 6),
 ('A366312', 6),
 ('A200571', 6),
 ('A394433', 6),
 ('A476143', 6),
 ('A039156', 6),
 ('A669761', 6),
 ('A560932', 6),
 ('A246359', 6),
 ('A986441', 6),
 ('A648126', 6),
 ('A786328', 6),
 ('A366762', 6),
 ('A407057', 6),
 ('A903619', 6),
 ('A149583', 6),
 ('A907471', 6),
 ('A946560', 6),
 ('A505981', 6),
 ('A254403', 6),
 ('A798118', 6),
 ('A421680', 6),
 ('A395228', 6),
 ('A399862', 6),
 ('A919406', 6),
 ('A948155', 6),
 ('A465778', 6),
 ('A898656', 6),
 ('A320278', 6),
 ('A558854', 6),
 ('A668549', 6),
 ('A679517', 6),
 ('A553451', 6),
 ('A227537', 6),
 ('A415410', 6),
 ('A941328', 6),
 ('A148200', 6),
 ('A497813', 6),
 ('A097735', 6),
 ('A381672', 6),
 ('A532714', 6),
 ('A088842', 6),
 ('A281591', 6),
 ('A928449', 6),
 ('A187055', 6),
 ('A501352', 6),
 ('A843782', 6),
 ('A903155', 6),
 ('A949824', 6),
 ('A731524', 6),
 ('A387214', 6),
 ('A908935', 6),
 ('A527822', 6),
 ('A527041', 6),
 ('A232735', 6),
 ('A423273', 6),
 ('A758159', 6),
 ('A842104', 6),
 ('A308008', 6),
 ('A724132', 6),
 ('A312525', 6),
 ('A461658', 6),
 ('A458157', 6),
 ('A315166', 6),
 ('A573272', 6),
 ('A109202', 6),
 ('A506342', 6),
 ('A452161', 6),
 ('A634532', 6),
 ('A290558', 6),
 ('A792333', 6),
 ('A484389', 6),
 ('A260381', 6),
 ('A554078', 6),
 ('A359433', 6),
 ('A278044', 6),
 ('A545243', 6),
 ('A691394', 6),
 ('A442308', 6),
 ('A129867', 6),
 ('A534201', 6),
 ('A290733', 6),
 ('A071755', 6),
 ('A687649', 6),
 ('A543307', 6),
 ('A559385', 6),
 ('A237359', 6),
 ('A852931', 6),
 ('A984872', 6),
 ('A386900', 6),
 ('A054516', 6),
 ('A025521', 6),
 ('A863685', 6),
 ('A190103', 6),
 ('A650572', 5),
 ('A298902', 5),
 ('A784870', 5),
 ('A944044', 5),
 ('A321141', 5),
 ('A837484', 5),
 ('A318624', 5),
 ('A062079', 5),
 ('A776175', 5),
 ('A674763', 5),
 ('A751024', 5),
 ('A401996', 5),
 ('A556731', 5),
 ('A702499', 5),
 ('A130776', 5),
 ('A472893', 5),
 ('A662262', 5),
 ('A228933', 5),
 ('A492446', 5),
 ('A850751', 5),
 ('A963278', 5),
 ('A907940', 5),
 ('A473254', 5),
 ('A626746', 5),
 ('A090781', 5),
 ('A593859', 5),
 ('A775295', 5),
 ('A404754', 5),
 ('A660562', 5),
 ('A364787', 5),
 ('A000495', 5),
 ('A630611', 5),
 ('A107779', 5),
 ('A254926', 5),
 ('A790520', 5),
 ('A798053', 5),
 ('A816821', 5),
 ('A254612', 5),
 ('A555060', 5),
 ('A204054', 5),
 ('A830673', 5),
 ('A628244', 5),
 ('A445246', 5),
 ('A516044', 5),
 ('A921347', 5),
 ('A677209', 5),
 ('A884222', 5),
 ('A367785', 5),
 ('A500341', 5),
 ('A896356', 5),
 ('A360756', 5),
 ('A135851', 5),
 ('A273333', 5),
 ('A942268', 5),
 ('A060723', 5),
 ('A591561', 5),
 ('A411995', 5),
 ('A889977', 5),
 ('A624010', 5),
 ('A084954', 5),
 ('A032543', 5),
 ('A646559', 5),
 ('A613569', 5),
 ('A835631', 5),
 ('A955420', 5),
 ('A237857', 5),
 ('A785488', 5),
 ('A985742', 5),
 ('A867265', 5),
 ('A172658', 5),
 ('A022045', 5),
 ('A320453', 5),
 ('A446401', 5),
 ('A225278', 5),
 ('A791262', 5),
 ('A950136', 5),
 ('A242802', 5),
 ('A180059', 5),
 ('A132633', 5),
 ('A191516', 5),
 ('A254949', 5),
 ('A732485', 5),
 ('A413528', 5),
 ('A369584', 5),
 ('A767015', 5),
 ('A176923', 5),
 ('A931755', 5),
 ('A933880', 5),
 ('A236816', 5),
 ('A464706', 5),
 ('A691303', 5),
 ('A433977', 5),
 ('A064910', 5),
 ('A685150', 5),
 ('A739025', 5),
 ('A763341', 5),
 ('A417162', 5),
 ('A473763', 5),
 ('A218046', 5),
 ('A882148', 5),
 ('A231293', 5),
 ('A854676', 5),
 ('A261774', 5),
 ('A172956', 5),
 ('A677928', 5),
 ('A082360', 5),
 ('A552573', 5),
 ('A453670', 5),
 ('A082667', 5),
 ('A985188', 5),
 ('A003120', 5),
 ('A790976', 5),
 ('A620036', 5),
 ('A113054', 5),
 ('A577832', 5),
 ('A981683', 5),
 ('A615715', 5),
 ('A123400', 5),
 ('A776595', 5),
 ('A747562', 5),
 ('A603112', 5),
 ('A261582', 5),
 ('A861689', 5),
 ('A409842', 5),
 ('A439449', 5),
 ('A120421', 5),
 ('A444139', 5),
 ('A056376', 5),
 ('A617313', 5),
 ('A875178', 5),
 ('A936583', 5),
 ('A027486', 5),
 ('A217532', 5),
 ('A726282', 5),
 ('A786862', 5),
 ('A138201', 5),
 ('A390941', 5),
 ('A649891', 5),
 ('A822877', 5),
 ('A941138', 5),
 ('A741778', 5),
 ('A801466', 5),
 ('A003146', 5),
 ('A891025', 5),
 ('A671025', 5),
 ('A360611', 5),
 ('A863743', 5),
 ('A517701', 5),
 ('A544554', 5),
 ('A028544', 5),
 ('A994967', 5),
 ('A996549', 5),
 ('A465545', 5),
 ('A569794', 5),
 ('A569834', 5),
 ('A884612', 5),
 ('A311482', 5),
 ('A932346', 5),
 ('A514724', 5),
 ('A055485', 5),
 ('A465825', 5),
 ('A417202', 5),
 ('A358517', 5),
 ('A514241', 5),
 ('A098731', 5),
 ('A310481', 5),
 ('A599341', 5),
 ('A041506', 5),
 ('A323187', 5),
 ('A237187', 5),
 ('A423331', 5),
 ('A939425', 5),
 ('A227156', 5),
 ('A828318', 5),
 ('A264534', 5),
 ('A303413', 5),
 ('A627951', 5),
 ('A401233', 5),
 ('A479152', 5),
 ('A221326', 5),
 ('A829777', 5),
 ('A849919', 5),
 ('A726409', 5),
 ('A671021', 5),
 ('A584670', 5),
 ('A477228', 5),
 ('A934080', 5),
 ('A390553', 5),
 ('A642401', 5),
 ('A921134', 5),
 ('A407281', 5),
 ('A658305', 5),
 ('A377725', 5),
 ('A401150', 5),
 ('A543914', 5),
 ('A257932', 5),
 ('A530045', 5),
 ('A565478', 5),
 ('A521718', 5),
 ('A095743', 5),
 ('A234852', 5),
 ('A975216', 5),
 ('A629025', 5),
 ('A627764', 5),
 ('A649859', 5),
 ('A670043', 5),
 ('A317921', 5),
 ('A539510', 5),
 ('A150112', 5),
 ('A520662', 5),
 ('A430000', 5),
 ('A088647', 5),
 ('A528624', 5),
 ('A046733', 5),
 ('A607736', 5),
 ('A501708', 5),
 ('A897078', 5),
 ('A837485', 5),
 ('A513296', 5),
 ('A359505', 5),
 ('A832124', 5),
 ('A763308', 5),
 ('A891639', 5),
 ('A267118', 5),
 ('A057060', 5),
 ('A617958', 4),
 ('A242376', 4),
 ('A603228', 4),
 ('A558889', 4),
 ('A210324', 4),
 ('A521377', 4),
 ('A671923', 4),
 ('A072341', 4),
 ('A092462', 4),
 ('A115725', 4),
 ('A745705', 4),
 ('A694094', 4),
 ('A401118', 4),
 ('A502861', 4),
 ('A791069', 4),
 ('A412672', 4),
 ('A660658', 4),
 ('A384294', 4),
 ('A168410', 4),
 ('A633829', 4),
 ('A199583', 4),
 ('A337095', 4),
 ('A426051', 4),
 ('A445999', 4),
 ('A469088', 4),
 ('A299224', 4),
 ('A778036', 4),
 ('A335195', 4),
 ('A693816', 4),
 ('A595791', 4),
 ('A571895', 4),
 ('A789649', 4),
 ('A464724', 4),
 ('A838397', 4),
 ('A098790', 4),
 ('A632611', 4),
 ('A472914', 4),
 ('A094431', 4),
 ('A420270', 4),
 ('A682149', 4),
 ('A710483', 4),
 ('A918394', 4),
 ('A409444', 4),
 ('A925546', 4),
 ('A562394', 4),
 ('A617637', 4),
 ('A382795', 4),
 ('A644455', 4),
 ('A062344', 4),
 ('A994158', 4),
 ('A254493', 4),
 ('A118643', 4),
 ('A359848', 4),
 ('A955607', 4),
 ('A535676', 4),
 ('A992101', 4),
 ('A486113', 4),
 ('A961369', 4),
 ('A842649', 4),
 ('A650619', 4),
 ('A031178', 4),
 ('A297546', 4),
 ('A923218', 4),
 ('A971120', 4),
 ('A970445', 4),
 ('A076418', 4),
 ('A288849', 4),
 ('A922650', 4),
 ('A279523', 4),
 ('A168943', 4),
 ('A896498', 4),
 ('A336789', 4),
 ('A869716', 4),
 ('A598713', 4),
 ('A645800', 4),
 ('A252422', 4),
 ('A334784', 4),
 ('A976947', 4),
 ('A048891', 4),
 ('A046920', 4),
 ('A781475', 4),
 ('A623898', 4),
 ('A384594', 4),
 ('A409623', 4),
 ('A975681', 4),
 ('A558413', 4),
 ('A280628', 4),
 ('A118090', 4),
 ('A871754', 4),
 ('A827000', 4),
 ('A290818', 4),
 ('A853040', 4),
 ('A535442', 4),
 ('A058871', 4),
 ('A784621', 4),
 ('A546225', 4),
 ('A879926', 4),
 ...]

## Data Preprocessing

In [12]:
consumption.Time /= 730.0
usage.Time /= 730.0
failures.Time /= 730.0

In [13]:
consumption.Time.describe()

count    270830.000000
mean          0.519004
std           0.291127
min           0.000000
25%           0.267123
50%           0.531507
75%           0.776712
max           1.000000
Name: Time, dtype: float64

In [14]:
usage.Time.describe()

count    22828.000000
mean         0.513697
std          0.289960
min          0.000000
25%          0.265753
50%          0.516438
75%          0.769863
max          1.000000
Name: Time, dtype: float64

In [15]:
failures.Time.describe()

count    9199.000000
mean        0.519411
std         0.288004
min         0.000000
25%         0.272603
50%         0.532877
75%         0.771233
max         1.000000
Name: Time, dtype: float64

In [16]:
indexes = consumption[consumption.Quantity <= 0].index
consumption.drop(indexes, inplace=True)
consumption.reset_index(inplace=True)

In [17]:
consumption.Quantity.describe()

count    266137.000000
mean          3.628079
std          20.594277
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max        3000.000000
Name: Quantity, dtype: float64

## Training Data construction

In [18]:
train = []
for asset in consumption.Asset:
    train.append({"name": asset})
    
    failure = False
    for index, asset_failure in enumerate(failures.Asset):
        if asset == asset_failure:
            failure = True
            failures.drop(index, inplace=True)
            break
            
    train.append({"failure": failure})

KeyError: '[1446] not found in axis'